{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-object-from-destructuring"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"]
    }
  }
}
